<div class="bg-dark">
	<div class="container tertiary-text bg-dark fg-white" style="padding: 20px 20px 5px 20px;">
		<span>Dev by ggxx. Find me at <a href="https://github.com/ggxx" target="_blank">GitHub</a>
			<a href="https://bitbucket.org/thu_ggxx" target="_blank">Bitbucket</a></span>
	</div>
	<div class="container tertiary-text bg-dark fg-white" style="padding: 5px 20px 20px 20px;">
		2014 &copy; by OS Lab, Department of Computer Science and Technology, Tsinghua University
	</div>
</div>
