<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> - Homeworks</title>
		<link rel="stylesheet" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/iconFont.css" />
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery.widget.min.js"></script>
		<script src="/javascripts/metro.min.js"></script>
	</head>
	<body class="metro">
		<div class="container">
			<% include nav.ejs %>
			<h1>			
				<a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
				<%= title %>
			</h1>
			<h2>Homeworks</h2>
			<table class="table striped">
				<thead>
					<tr>
						<th class="text-left">Docker Name</th>
						<th class="text-left">Lab Name</th>
						<th class="text-left">Built Time</th>
						<th class="text-left">Grade</th>
						<th class="text-left">#</th>
					</tr>
				</thead>
				<tbody>						
					<% results.forEach(function(result) { %>
						<tr>
							<td class="right"><%= result.docker.name %></td>
							<td class="right"><%= result.docker.lab.name %></td>
							<td class="right"><%= result.build_time %></td>
							<td class="right"><%= result.grade %></td>
							<td class="right">
								<a href="/homeworks/<%= result._id %>" class="small bg-green fg-white button">Detail</a>
							</td>
						</tr>
					<% }); %>
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
	</body>
</html>

