<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> - Homework</title>
		<link rel="stylesheet" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/iconFont.css" />
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery.widget.min.js"></script>
		<script src="/javascripts/metro.min.js"></script>
	</head>
	<body class="metro">
		<div class="container">
			<% include nav.ejs %>
			<h1>			
				<a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
				<%= title %>
			</h1>
			<h2>Homework</h2>
			<form>
			<fieldset>
				<legend>Docker Information</legend>
				<label>Docker Name</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" readonly="readonly" value="<%= result.docker.name %>" />
				</div>
				<label>Lab Name</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" readonly="readonly" value="<%= result.docker.lab.name %>" />
				</div>
				<label>Lab Description</label>
				<div class="input-control textarea" data-role="input-control">
					<textarea readonly="readonly" style="height:200px;"><%= result.docker.lab.desc %></textarea>
				</div>
				<legend>Build Information</legend>
				<label>Result</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" readonly="readonly" value="<%= result.result %>" />
				</div>
				<label>Grade</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" readonly="readonly" value="<%= result.grade %>" />
				</div>
				<label>Time</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" readonly="readonly" value="<%= result.build_time %>" />
				</div>
				<legend>Committed Information</legend>
				<table class="table striped">
					<thead>
						<tr>
							<th class="text-left">Author</th>
							<th class="text-left">Commit</th>
							<th class="text-left">Message</th>
							<th class="text-left">Date</th>
						</tr>
					</thead>
					<tbody>
						<% result.commits.forEach(function(commit) { %>
							<tr>
								<td class="right"><%= commit.author %></td>
								<td class="right"><%= commit.id %></td>
								<td class="right"><%= commit.message %></td>
								<td class="right"><%= commit.committed_date %></td>
							</tr>
						<% }); %>
					</tbody>
					<tfoot></tfoot>
				</table>
				
				<legend>Built Result</legend>
				<% result.infos.forEach(function(info) { %>
					<label>Repo Name</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" readonly="readonly" value="<%= info.name %>" />
					</div>
					<label>Time Costs</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" readonly="readonly" value="<%= info.time %>" />
					</div>
					<label>Timeout</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" readonly="readonly" value="<%= info.result.timeout %>" />
					</div>
					<label>Status</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" readonly="readonly" value="<%= info.result.status %>" />
					</div>
					<label>PID</label>
					<div class="input-control text" data-role="input-control">
						<input type="text" readonly="readonly" value="<%= info.result.pid %>" />
					</div>
					<label>Output</label>
					<div class="input-control textarea" data-role="input-control">
						<textarea readonly="readonly" style="height:300px;"><%= info.result.output.join('\r\n') %></textarea>
					</div>
					<br />
				<% }); %>

				<span><%= message %></span>
			</fieldset>
		</form>
	</div>
	<% include footer.ejs %>
	</body>
</html>
