<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/normalize.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
		<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/iconFont.css" />
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/jquery.widget.min.js"></script>
		<script src="/javascripts/metro.min.js"></script>
	</head>
	<body class="metro">
		<div class="container">
			<% include nav.ejs %>
			<h1>
				<%= title %>
			</h1>
			<div class="tile double double-vertical bg-cyan" onclick="location.href='/cloud'">
				<div class="tile-content icon">
					<i class="icon-cloud"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Cloud Resources
					</p>
				</div>
			</div>
			<div class="tile double double-vertical bg-cyan" onclick="location.href='/classroom'">
				<div class="tile-content icon">
					<i class="icon-monitor"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Classrooms
					</p>
				</div>
			</div>
			<div class="tile double double-vertical bg-cyan" onclick="location.href='/homeworks'">
				<div class="tile-content icon">
					<i class="icon-file-4"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Homeworks
					</p>
				</div>
			</div>
			<div class="tile double double-vertical bg-cyan" onclick="location.href='/labs'">
				<div class="tile-content icon">
					<i class="icon-file-3"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Labs
					</p>
				</div>
			</div>
			<div class="tile double double-vertical bg-green" onclick="location.href='/wiki'">
				<div class="tile-content icon">
					<i class="icon-book"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Read Me
					</p>
				</div>
			</div>
			<div class="tile double double-vertical bg-darkRed" onclick="location.href='/logout'">
				<div class="tile-content icon">
					<i class="icon-exit"></i>
				</div>
				<div class="brand bg-dark opacity">
					<p class="text-center fg-white">
						Log Out
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
