<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Lab</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/iconFont.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.widget.min.js"></script>
	<script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
	<div class="container">
		<% include nav.ejs %>
		<h1>
			<a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
			<%= title %>
		</h1>
		<h2>Lab</h2>
		<form action="/labs<% if (lab.name!='') { %>/<%= lab._id %><% } %>" method="POST">
			<fieldset>
				<legend>Lab Information</legend>
				<label>Lab Name</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" id="name" name="name" maxlength="16" required="required" autofocus="true" value="<%= lab.name %>" <% if(lab.name!=''){ %>readonly<% } %> />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Lab Description</label>
				<div class="input-control textarea" data-role="input-control">
					<textarea id="desc" name="desc"><%= lab.desc %></textarea>
				</div>
				<label>Git Project</label>
				<div class="input-control select" data-role="input-control">
					<select name="project" id="project" required="required" <% if(lab.name!=''){ %>readonly<% } %> >
						<% projects.forEach(function(project) { %>
							<option value="<%= project %>" <% if (lab.project == project) { %>selected<% } %>><%= project %></option>
						<% }) %>
					</select>
				</div>
				<label>Docker Type</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" id="dockerType" name="dockerType" maxlength="16" required="required" value="<%= lab.dockerType %>" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>DockerFile - (your docker must FROM uclassroom/fedora-base)</label>
				<div class="input-control textarea" data-role="input-control">
					<textarea id="dockerFile" name="dockerFile" style="height:300px;" <% if(lab.name!=''){ %>readonly<% } %> ><% if (lab.desc == '') { %>#        ggxx/ucore_lab
# 
#        VERSION 0.0.1

FROM uclassroom/fedora-base
MAINTAINER Guo Xu <ggxx120@gmail.com>

RUN yum -y install qemu;\
	yum clean all

EXPOSE 8080
ENTRYPOINT ["tty.js", "--config", "/ttyjs-config.json"]<% } else { %><%= lab.dockerFile %><% } %>
					</textarea>
				</div>
				<label>Make Scrpits</label>
				<div class="input-control textarea" data-role="input-control">
					<textarea id="makeScripts" name="makeScripts"><%= lab.makeScripts %></textarea>
				</div>
				<input class="button bg-blue fg-white large" type="submit" value="Save" id="submit" />
				</input>
				<span><%= message %></span>
			</fieldset>
		</form>
	</div>
	<% include footer.ejs %>
</body>
</html>
