<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Labs</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/iconFont.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.widget.min.js"></script>
	<script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
	<div class="container">
		<% include nav.ejs %>
		<h1>
			<a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
			<%= title %>
		</h1>
		<h2>Labs</h2>
		<form>
			<fieldset>
				<table class="table striped">
					<thead>
						<tr>
							<th class="text-left">Name</th>
							<th class="text-left">Build Time</th>
							<th class="text-left">Teacher</th>
							<th class="text-left">Status</th>
							<th class="text-left">#</th>
						</tr>
					</thead>
					<tbody>						
						<% labs.forEach(function(lab) { %>
							<tr>
								<td class="right"><%= lab.name %></td>
								<td class="right"><%= lab.creatingTime %></td>
								<td class="right"><%= lab.teacher.name %></td>
								<td class="right"><%= lab.status %></td>
								<td class="right">
									<a href="/labs/<%= lab._id %>" class="small bg-green fg-white button">Edit</a>
								</td>
							</tr>
						<% }); %>
					</tbody>
					<tfoot></tfoot>
				</table>
				<a class="bg-blue fg-white button large" href="/labs/0">New Lab</a>
				<span><%= message %></span>
			</fieldset>
		</form>
	</div>
</body>
</html>
