<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Sign up</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/iconFont.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.widget.min.js"></script>
	<script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
	<div class="container">
		<h1>
			<%= title %>
		</h1>
		<h2>Log in</h2>
		<form action="/login" method="POST">
			<fieldset>
				<legend>User Information</legend>
				<label>Name</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" id="name" name="name" maxlength="16" required="required" value="<%= name %>" autofocus="true" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Password</label>
				<div class="input-control password" data-role="input-control">
					<input type="password" id="password" name="password" maxlength="16" required="required" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<input class="button bg-blue fg-white large" type="submit" value="log in" id="login">
				</input>
				<span><%= message %></span>
			</fieldset>
		</form>
		<a id="signup" href="/signup">Register for an account</a>
	</div>
	<script>
		var ok = "<%= message %>";
		if (ok != "") {
			var not = $.Notify({
				caption: "Log in",
				content: "Wrong username or password.",
				timeout: 8000,
				style: { background: '#FFC0CB', color: 'Red' } 
			});
		}
	</script>
</body>
</html>
