<nav class="navigation-bar dark">
	<nav class="navigation-bar-content">
		<div class="element">
			<a class="dropdown-toggle" href="#"><span class="icon-list"></span> <%= title %></a>
			<ul class="dropdown-menu dark" data-role="dropdown">
				<li><a href="/">Home</a></li>
				<li class="divider"></li>
				<li><a href="/cloud">Cloud Resources</a></li>
				<li><a href="/classroom">Classrooms</a></li>
				<li><a href="/homeworks">Homeworks</a></li>
				<li class="divider"></li>
				<li><a href="/labs">Labs</a></li>
			</ul>
		</div>
		<span class="element-divider"></span>
		<span class="element-divider place-right"></span>
		<a class="element place-right" href="/logout"><span class="icon-exit"></span> Log out</a>
		<span class="element-divider place-right"></span>
		<a class="element place-right" href="/wiki"><span class="icon-info-2"></span> Readme</a>
		<span class="element-divider place-right"></span>
		<button class="element image-button image-left place-right">
			Welcome, <%= username %>
			<img src="/images/user_head.png"/>
		</button>
	</nav>
</nav>
