<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Wiki</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/iconFont.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.widget.min.js"></script>
	<script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
	<div class="container">
		<% include nav.ejs %>
		<h1>			
			<a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
			<%= title %>
		</h1>
		<h2>Readme</h2>
		<div class="panel">
			<div class="panel-header bg-lightBlue fg-white">
				关于本平台
			</div>
			<div class="panel-content">
				本平台是一个基于MOOC的可扩展在线教学实验平台，其主要目标是
				<ul>
					<li>为学生提供一个无需配置的统一在线实验环境</li>
					<li>为教师提供一个管理实验文档，自动批阅实验作业的环境</li>
					<li>为教学双方提供一个基于浏览器的，支持文字、音视频以及桌面共享的实时交流平台</li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="panel-header bg-lightBlue fg-white">
				如何创建在线实验环境
			</div>
			<div class="panel-content">
				<ul>
					<li>使用支持HTML5的浏览器登录本网站，注册帐号并登录</li>
					<li>在<a href="/">网站首页</a>点击My Cloud Resources链接，进入Resources Management页面</li>
					<li>页面中列出了当前登录账户所有可用的云端资源，包括Docker和VM（Virtual Machine）</li>
					<li>如果你没有任何可用的Docker或VM，可以按照以下流程进行申请（请注意本系统暂时只能申请Docker，尚不支持申请VM资源）
						<ul>
							<li>在DockerName文本框中填写你想创建的Docker的名字</li>
							<li>在旁边的下拉框中选择你想创建的Docker的模板名称（模板名称通常与实验名称一致）</li>
							<li>点击CreateDocker按钮进行创建，由于需要初始化用户参数，因此点击按钮后请耐心等待30～60秒</li>
							<li>创建完毕后，会打开一个新的页面，提示创建成功</li>
							<li>再次回到Resources Management页面，就能够看到刚刚创建的Docker</li>
						</ul>
					</li>
					<li>在可用的Docker列表中可以看到，新建的Docker处于关闭状态，点击Start按钮可以使其运行</li>
					<li>对于处于运行状态的Docker
						<ul>
							<li>点击Stop按钮可以使其关闭</li>
							<li>点击其它相关按钮会执行实验里对应的操作</li>
							<li>比如点击WebTerminal按钮可以打开一个网页，在网页的右上角点击OpenTerminal会启动一个基于Web的虚拟终端，这就是一个最基本的在线实验环境，命令行操作可以在这个终端中完成</li>
						</ul>
					</li>
					<li>Docker关闭后会恢复到原始状态，如果在Docker中完成作业，请不要关闭Docker或及时提交代码</li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="panel-header bg-lightBlue fg-white">
				如何建立P2P网页视频会话
			</div>
			<div class="panel-content">
				<ul>
					<li>使用Chrome、Firefox或者Opera浏览器登录本网站，注册帐号并登录</li>
					<li>在<a href="/">网站首页</a>点击My Classroom链接，进入My Classroom页面</li>
					<li>页面分成左边栏和正文两部分，左边栏包括本地设置、房间列表、人员列表三部分</li>
					<li>填写本地摄像头的分辨率，然后点击ShareCamera按钮，就可以将本地摄像头与麦克风共享给对方</li>
					<li>填写桌面的分辨率，然后点击ShareScreen按钮，就可以将本地桌面共享给对方，请注意
						<ul>
							<li>桌面共享指的是接收方能够看到桌面提供方屏幕中实时的画面，不能进行远程操作</li>
							<li>
								目前仅有Chrome浏览器支持桌面共享，即提供桌面共享的用户必须使用Chrome，而且需要在启动浏览器时添加参数
								<p class="code-text">--enable-usermedia-screen-capturing</p>
								或者通过安装Chrome Extension的方式开启桌面共享，后续我们会提供该Extension
							</li>
							<li>接收桌面共享的用户不限定必须使用Chrome</li>
						</ul>
					</li>
					<li>需要进行交流的任意一方，在RoomName文本框中输入聊天室的名称，点击CreateRoom按钮，就可以创建一个聊天室</li>
					<li>另一方可以在房间列表中看到对方创建的聊天室，点击房间名称链接即可进入该聊天室</li>
					<li>进入房间后，可以在用户列表中看到房间内的所有用户</li>
					<li>如果房间里的用户开启了音视频或桌面共享，则其用户名右侧会有一个图标提示，点击该图标就可以接收到对方共享的实时音视频或桌面</li>
					<li>在页面下方的文本框中输入文字，按回车键或者点击SendMessage，可以将文字发送给房间内的所有人</li>
					<li>请注意，出于性能考虑，目前我们最多允许一个聊天室里进入2个人</li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="panel-header bg-lightBlue fg-white">
				关于Git帐号
			</div>
			<div class="panel-content">
				<ul>
					<li>注册本系统的用户自动拥有使用平台Git服务的权限</li>
					<li>系统会自动为用户生成一组SSH Key，并将public key上传到Git服务器，将private key保存在用户每次创建的Docker或VM中</li>
					<li>系统会按照用户注册时提供的用户名和Email自动为用户修改git全局配置
						<p class="code-text">
						git config --global user.name={YOUR_NAME};<br />
						git config --global user.email={YOUR_EMAIL};
						</p>
					</li>
				</ul>
				
			</div>
		</div>
		<div class="panel">
			<div class="panel-header bg-lightBlue fg-white">
				相关技术与链接
			</div>
			<div class="panel-content">
				Docker |
				Git |
				GitLab |
				WebRTC |
				Node.js |
				Socket.IO |
				MongoDB |
				Metro UI CSS
			</div>
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>
