<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Sign up</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap-responsive.css" />
	<link rel="stylesheet" href="/stylesheets/metro-bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/iconFont.css" />
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/jquery.widget.min.js"></script>
	<script src="/javascripts/metro.min.js"></script>
</head>
<body class="metro">
	<div class="container">
		<h1>
			<%= title %>
		</h1>
		<h2>Sign up</h2>
		<form onsubmit="javascript:return validatePassword(this);" action="signup" method="POST">
			<fieldset>
				<legend>User Information</legend>
				<label>Name</label>
				<div class="input-control text" data-role="input-control">
					<input type="text" id="name" name="name" maxlength="16" required="required" value="<%= name %>" autofocus="true" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Password</label>
				<div class="input-control password" data-role="input-control">
					<input type="password" id="password" name="password" maxlength="16" required="required" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Password again</label>
				<div class="input-control password" data-role="input-control">
					<input type="password" id="password2" maxlength="16" required="required" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Email</label>
				<div class="input-control email" data-role="input-control">
					<input type="email" id="email" name="email" maxlength="32" required="required" value="<%= email %>" />
					<button class="btn-clear" tabindex="-1"></button>
				</div>
				<label>Role</label>
				<div class="input-control select" data-role="input-control">
					<select name="role" id="role" required="required">
						<option value="Student" <% if (role=='Student') { %>selected<% } %>>Student</option>
						<option value="Teacher" <% if (role=='Teacher') { %>selected<% } %>>Teacher</option>
						<option value="Administrator" <% if (role=='Administrator') { %>selected<% } %>>Administrator</option>
					</select>
				</div>
				<br />
				<input class="button bg-blue fg-white large" type="submit" value="sign up" id="signup">
				</input>
				<span><%= message %></span>
			</fieldset>
		</form>
		Already have an account? <a id="login" href="/login">log in here</a>
	</div>
	<script src="/javascripts/signup.js"></script>
</body>
</html>
